<div class="w-100">
    <img src="./assets/images/juego-cartas.jpg" class="img-fluid" alt="Sample image">
</div>
<div class="w-100 row">
    <div class="col-4" style="background-color: #ccc;">
        <h1 class="text-center mt-4 fw-bold">Mis Cartas</h1>
        <div class="row">
            <div class="col-6">
                <img src="./assets/images/cartas/0BF.jpg" class="img-fluid" alt="Sample image">
                <img src="./assets/images/cartas/0E0.jpg" class="img-fluid" alt="Sample image">
                <img src="./assets/images/cartas/1AE.jpg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-6">
                <img src="./assets/images/cartas/1DF.jpg" class="img-fluid" alt="Sample image">
                <img src="./assets/images/cartas/1F4.jpg" class="img-fluid" alt="Sample image">
                <img src="./assets/images/cartas/1F5.jpg" class="img-fluid" alt="Sample image">
            </div>
        </div>
    </div>
    <div class="col-6">
        <h3 class="text-center my-4 fw-bold">Pin del Juego #jue-123</h3>
        <div class="row">
            <div class="col-4">
                <h5 class="text-center">Jugador 1</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid" alt="carta jugador 1">
                <h5>Jugador 4</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid" alt="carta jugador 4">
            </div>
            <div class="col-4">
                <h5>Jugador 2</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid" alt="carta jugador 2">
                <h5>Jugador 5</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid" alt="carta jugador 5">
            </div>
            <div class="col-4">
                <h5>Jugador 3</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid" alt="carta jugador 3">
                <h5>Jugador 6</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid" alt="carta jugador 6">
            </div>
        </div>
    </div>
    <div class="col-2" style="background-color: #ccc;">
        <h3 class="text-center fw-bold my-4">Jugadores en linea</h3>

        <div class="row">
            <div class="col-4">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
            </div>
            <div class="col-8">
                <h5 style="margin-top: 7%;">Jugador 1</h5>
                <h5 style="margin-top: 22%;">Jugador 2</h5>
                <h5 style="margin-top: 22%;">Jugador 3</h5>
                <h5 style="margin-top: 22%;">Jugador 4</h5>
                <h5 style="margin-top: 22%;">Jugador 5</h5>
                <h5 style="margin-top: 22%;">Jugador 6</h5>
            </div>
        </div>
        
    </div>
</div>