<div class="w-100">
    <img src="./assets/images/juego-cartas.jpg" class="img-fluid" alt="Sample image">
</div>
<div class="w-100 row">
    <div class="col-4" style="background-color: #ccc;">
        <h1 class="text-center mt-4 fw-bold">Mis Cartas</h1>
        <div class="row">
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-header">{{carta1.name}}</div>
                    <div class="card-body">
                        <img src="./assets/images/cartas/{{ carta1.url }}" class="img-fluid" alt="carta1">
                    </div>
                    <div class="card-footer">XP: {{ carta1.poder }}</div>
                </div>
                <div class="card my-2">
                    <div class="card-header">{{carta3.name}}</div>
                    <div class="card-body">
                        <img src="./assets/images/cartas/{{ carta3.url }}" class="img-fluid" alt="carta3">
                    </div>
                    <div class="card-footer">XP: {{ carta3.poder }}</div>
                </div>
                <div class="card">
                    <div class="card-header">{{carta5.name}}</div>
                    <div class="card-body">
                        <img src="./assets/images/cartas/{{ carta5.url }}" class="img-fluid" alt="carta5">
                    </div>
                    <div class="card-footer">XP: {{ carta5.poder }}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2">
                    <div class="card-header">{{carta7.name}}</div>
                    <div class="card-body">
                        <img src="./assets/images/cartas/{{ carta7.url }}" class="img-fluid" alt="carta2">
                    </div>
                    <div class="card-footer">XP: {{ carta7.poder }}</div>
                </div>
                <div class="card my-2">
                    <div class="card-header">{{carta9.name}}</div>
                    <div class="card-body">
                        <img src="./assets/images/cartas/{{ carta9.url }}" class="img-fluid" alt="carta4">
                    </div>
                    <div class="card-footer">XP: {{ carta9.poder }}</div>
                </div>
                <div class="card">
                    <div class="card-header">{{carta11.name}}</div>
                    <div class="card-body">
                        <img src="./assets/images/cartas/{{ carta11.url }}" class="img-fluid" alt="carta6">
                    </div>
                    <div class="card-footer">XP: {{ carta11.poder }}</div>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-6" style="background-color: rgb(138, 79, 79);">
        <h3 class="text-center my-4 fw-bold">Pin del Juego: {{pin}}</h3>
        <div class="row">
            <div class="col-4">
                <h5 class="mx-4">Jugador 1</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid mx-4" alt="carta jugador 1">
                <h5 class="mx-4">Jugador 4</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid mx-4" alt="carta jugador 4">
            </div>
            <div class="col-4">
                <h5>Jugador 2</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid" alt="carta jugador 2">
                <h5>Jugador 5</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid" alt="carta jugador 5">
            </div>
            <div class="col-4">
                <h5>Jugador 3</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid" alt="carta jugador 3">
                <h5>Jugador 6</h5>
                <img src="./assets/images/carta-vacia.jpg" class="img-fluid" alt="carta jugador 6">
            </div>
        </div>
    </div>
    <div class="col-2" style="background-color: #ccc;">
        <h3 class="text-center fw-bold my-4">Jugadores en linea</h3>

        <div class="row">
            <div class="col-4">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
                <img src="./assets/images/en-linea.jpg" class="img-fluid" alt="en linea">
            </div>
            <div class="col-8">
                <h5 style="margin-top: 7%;">Jugador 1</h5>
                <h5 style="margin-top: 14%;">Jugador 2</h5>
                <h5 style="margin-top: 14%;">Jugador 3</h5>
                <h5 style="margin-top: 14%;">Jugador 4</h5>
                <h5 style="margin-top: 14%;">Jugador 5</h5>
                <h5 style="margin-top: 14%;">Jugador 6</h5>
            </div>
        </div>
    </div>
</div>
<div class="w-100 mt-4">
    <div class="row" style="background-color: #eee;">
        <div class="col-2">
            <input type="submit" value="Iniciar Juego" class="btn btn-success mx-4" />
        </div>
        <div class="col-8"></div>
        <div class="col-1"></div>
        <div class="col-1">
            <input type="submit" value="Cerrar Sesion" class="btn btn-primary mx-2" (click)="cerrarSesion()" />
        </div>
    </div>
</div>