<div class="container py-4">
    <div>
        <img src="./assets/images/crear-pin.jpg" class="img-fluid" alt="Sample image">
    </div>
    <div class="card bg-white text-white">
        <div class="card-header fw-bold" style="color: black;">Creacion de Pin para Iniciar Juego</div>
        <div class="card-body">
            <form enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <h3 style="color: black;" class="my-4">Unirse a un Juego</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <label for="nombre" class="col-sm-2 col-form-label" style="color: black; margin-left: 90%; margin-top: 4%;">PIN:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control my-2" /> 
                        <small class="form-text text-danger"></small>
                    </div>
                    <div class="col-4">
                        <input type="submit" value="Entrar al juego" class="btn btn-primary mt-2" />
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <h3 style="color: black;" class="my-4">Crear Juego</h3>
                        <input type="submit" value="Crear Pin" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


