<div class="container py-4">
    <div>
        <img src="./assets/images/mostrar-cartas.jpg" class="img-fluid" alt="Sample image">
    </div>
    <div class="card bg-light">
        <div class="card-header fw-bold" style="color: black;">{{ titulo }}</div>
        <div class="card-body">
            <h4 class="card-title">
                <a class="btn btn-primary btn-xs" routerLink="/dashboard/crear">Crear Carta</a>
                <a class="btn btn-primary btn-xs mx-2" routerLink="/dashboard/pin">Crear Pin</a>
                <input type="submit" value="Cerrar Sesion" class="btn btn-secondary mx-2" (click)="cerrarSesion()" style="margin-right: 100%;" />
            </h4>
            <table class="table table-striped table-bordered" *ngIf="cartas?.length>0">
                <thead class="thead-inverse">
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Caracteristicas</th>
                        <th>XP</th>
                        <th>Imagen</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let carta of cartas">
                        <td>{{ carta.id }}</td>
                        <td>{{ carta.name }}</td>
                        <td>{{ carta.description }}</td>
                        <td>{{ carta.poder }}</td>
                        <td>{{ carta.url }}</td>
                        <td><button type="button" name="editar" class="btn btn-warning">Editar</button></td>
                        <td><button type="button" name="eliminar" class="btn btn-danger" (click)="deleteCarta(carta.id)">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


